<p id="notice"><%= notice %></p>

<h1>contact</h1>

<table>
  <thead>
    <tr class='row'>
      <th colspan="3" class='col-xs-3'>Name</th>
      <th colspan="3" class='col-xs-3'>email</th>
      <th colspan="3" class='col-xs-3'>subject</th>
      <th colspan="3" class='col-xs-3'>phone</th>
      <th colspan="3" class='col-xs-3'>message</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |comment| %>
      <tr class='row'>
        <td class='col-xs-3'><%= comment.name %></td>
        <td class='col-xs-3'><%= comment.email %></td>
        <td class='col-xs-3'><%= comment.subject %></td>
        <td class='col-xs-3'><%= comment.phone %></td>
        <td class='col-xs-3'><%= comment.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>
<h1>subscribe</h1>

<table>
  <thead>
    <tr class='row'>
      <th colspan="3" class='col-xs-3'>Name</th>
      <th colspan="3" class='col-xs-3'>email</th>
      <th colspan="3" class='col-xs-3'>subject</th>
      <th colspan="3" class='col-xs-3'>phone</th>
      <th colspan="3" class='col-xs-3'>message</th>
    </tr>
  </thead>

  <tbody>
    <% @subs.each do |comment| %>
      <tr class='row'>
        <td class='col-xs-3'><%= comment.name %></td>
        <td class='col-xs-3'><%= comment.email %></td>
        <td class='col-xs-3'><%= comment.subject %></td>
        <td class='col-xs-3'><%= comment.phone %></td>
        <td class='col-xs-3'><%= comment.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Download PDF', resume_path %>
