   <!-- Porfolio-->
      <div class="row section recentworks topspace">
       
       <h2 class="section-title">Porfolio</h2>
       
       <div class="thumbnails recentworks row">
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
         <a class="thumbnail" href="https://demo-back-yards-coffee.herokuapp.com/">
          <span class="img">
            <%= image_tag 'Bofyards.png' %>
            <span class="cover"><span class="more">See details &rarr;</span></span>
          </span>
          <span class="title">Back Of The Yards Coffee</span>
        </a>
        <span class="details"><a href="">Web design</a> | <a href="">Wordpress</a> | <a href="">Logotype</a></span>
        <h4></h4>
        <p></p>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
       <a class="thumbnail" href="https://qa-san-jose.herokuapp.com">
        <span class="img">
          <%= image_tag 'Sjm.png' %>
          <span class="cover"><span class="more">See details &rarr;</span></span>
        </span>
        <span class="title">San Jose Obrero Mission</span>
      </a>
      <span class="details"><a href="">Web design</a> | <a href="">Wordpress</a></span>
      <h4></h4>
      <p></p>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
     <a class="thumbnail" href="sidebar-right.html">
      <span class="img">
        <%= image_tag 'RealWelcome.jpg' %>
        <span class="cover"><span class="more">See details &rarr;</span></span>
      </span>
      <span class="title">Lorem studios - interior and patio design</span>
    </a>
    <span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
    <h4></h4>
    <p></p>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
   <a class="thumbnail" href="sidebar-right.html">
    <span class="img">
      <%= image_tag 'RealWelcome.jpg' %>
      <span class="cover"><span class="more">See details &rarr;</span></span>
    </span>
    <span class="title">Pure ipsum - development services for people</span>
  </a>
  <span class="details"><a href="">Web design</a> | <a href="">Wordpress</a></span>
  <h4></h4>
  <p></p>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
 <a class="thumbnail" href="sidebar-right.html">
  <span class="img">
    <%= image_tag 'RealWelcome.jpg' %>
    <span class="cover"><span class="more">See details &rarr;</span></span>
  </span>
  <span class="title">Lorem studios - interior and patio design</span>
</a>
<span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
<h4></h4>
<p></p>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
 <a class="thumbnail" href="sidebar-right.html">
  <span class="img">
    <%= image_tag 'RealWelcome.jpg' %>
    <span class="cover"><span class="more">See details &rarr;</span></span>
  </span>
  <span class="title">Lorem studios - interior and patio design</span>
</a>
<span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
<h4></h4>
<p></p>
</div>
</div> 
