<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval='300'>
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" data-interval='300'></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" data-interval='300'></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2" data-interval='300'></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'history3.jpg', class:"d-block w-100 carousel-image" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'Scott.jpg', class:"d-block w-100 carousel-image" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'looking.jpg', class:"d-block w-100 carousel-image" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" id="next-img"aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<script>
$(document).ready(function(){
   window.setInterval(cycle,2000);

   function cycle(){
       $("#next-img").click();
   }

    
    
});
</script>



<!-- About Me -->

<section id="about">
  <div class="Why">
    <div class="row text-center" id="heading">
      <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
        <h3 style="font-size: 44px; color: #36ab9f;
        
        line-height: 50px;">About Me</h3>
        <p> Creating a New Tomorrow</p>
        <hr style="border-top: 2px solid goldenrod;" class="full">
        <br/>
      </div>
    </div>	<!-- row -->
    <div class="row about-us-text">
      <div class="col-md-8 col-md-offset-2">
        <p class="text-center">Teacher turn tech enthusiast, Scott Tillman Software Engineer and Graduate Student at DePaul University. He lives in Chicago and loves solving problems.  </p>
      </div>
    </div>	<!-- row -->


    <section class="home" id="home" data-stellar-background-ratio="0.4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="st-home-unit">
              <div class="hero-txt">
                <p class="hero-work">I am here to build. To Create.</p>
                <h2 class="hero-title">Lets build something Together!</h2>
                <!-- <p class="hero-sub-title">We Provide Hight Quality Bootstrap Template</p> -->
                <!-- <a href="#" class="btn btn-default btn-lg left-btn">Purchase Now</a> -->
                <a href="#" class="btn btn-main btn-lg">Find Out More</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="mouse-icon"><div class="wheel"></div></div>
    </section>

    


    <!-- <div class="space-medium bg-default">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"><img src="images/MODEL.jpg" alt="" class="img-responsive"></div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="well-block">
                        <h1>Scott Tillman</h1>
                        <h5 class="small-title ">"Nothing Will Work Unless You Do" - Maya Angelou</h5>
                        <p>Hello! My name is Scott and I am a passionate Software Developer from Chicago, IL. I found my way in to Software Development after... </p>
                   
                        <a href="About.html " class="btn btn-default">View More About Scott</a> </div>
                </div>
            </div>
        </div>
      </div> -->
      <br><br>

      <!-- Porfolio-->
      <div class="row section recentworks topspace">
       
       <h2 class="section-title">Porfolio</h2>
       
       <div class="thumbnails recentworks row">
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
         <a class="thumbnail" href="https://demo-back-yards-coffee.herokuapp.com/">
          <span class="img">
            <%= image_tag 'Bofyards.png' %>
            <span class="cover"><span class="more">See details &rarr;</span></span>
          </span>
          <span class="title">Back Of The Yards Coffee</span>
        </a>
        <span class="details"><a href="">Web design</a> | <a href="">Wordpress</a> | <a href="">Logotype</a></span>
        <h4></h4>
        <p></p>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
       <a class="thumbnail" href="https://qa-san-jose.herokuapp.com">
        <span class="img">
          <%= image_tag 'Sjm.png' %>
          <span class="cover"><span class="more">See details &rarr;</span></span>
        </span>
        <span class="title">San Jose Obrero Mission</span>
      </a>
      <span class="details"><a href="">Web design</a> | <a href="">Wordpress</a></span>
      <h4></h4>
      <p></p>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
     <a class="thumbnail" href="sidebar-right.html">
      <span class="img">
        <%= image_tag 'RealWelcome.jpg' %>
        <span class="cover"><span class="more">See details &rarr;</span></span>
      </span>
      <span class="title">Lorem studios - interior and patio design</span>
    </a>
    <span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
    <h4></h4>
    <p></p>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
   <a class="thumbnail" href="sidebar-right.html">
    <span class="img">
      <%= image_tag 'RealWelcome.jpg' %>
      <span class="cover"><span class="more">See details &rarr;</span></span>
    </span>
    <span class="title">Pure ipsum - development services for people</span>
  </a>
  <span class="details"><a href="">Web design</a> | <a href="">Wordpress</a></span>
  <h4></h4>
  <p></p>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
 <a class="thumbnail" href="sidebar-right.html">
  <span class="img">
    <%= image_tag 'RealWelcome.jpg' %>
    <span class="cover"><span class="more">See details &rarr;</span></span>
  </span>
  <span class="title">Lorem studios - interior and patio design</span>
</a>
<span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
<h4></h4>
<p></p>
</div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
 <a class="thumbnail" href="sidebar-right.html">
  <span class="img">
    <%= image_tag 'RealWelcome.jpg' %>
    <span class="cover"><span class="more">See details &rarr;</span></span>
  </span>
  <span class="title">Lorem studios - interior and patio design</span>
</a>
<span class="details"><a href="">Web design</a> | <a href="">Logotype</a></span>
<h4></h4>
<p></p>
</div>
</div> 
<!-- Blog-->

<div id="blog">
 <br><hr style="border: 2px dashed goldenrod;"><br>
 
 

<div class="content-block" id="blog">
			
					<header class="block-heading cleafix">
						<a href="Post_path" class="btn btn-o btn-lg pull-right">View All Blog Post</a>
						<h1 class="homeblogheader">TE<span style="color:#a31b1b;">C</span>HNI<span style="color:#a31b1b;">C</span>ALLY BLAC<span style="color:#36ab9f;">K</span> Blog</h1>
						<p>Keep up with the latest happenings.</p>
					</header>
					<section class="block-body">
						<div class="row">
            
							<div class="col-sm-4 blog-post">
								<img src="assets/images/bike_water1-1000x600.jpg">
								<a href="#"><h2></h2></a>
								<div class="date"></div>
								<p></p>
								<a href=""></a>
							</div>
							<div class="col-sm-4 blog-post">
								<%= image_tag 'History.jpg', :class => "bloghomepic" %>
								<a href="posts/1"><h2 style="color:#a31b1b; text-align: center;">Why Web Developement</h2></a>
								<div class="date">3 Nov, 2014</div>
								<p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
								<a href="">Read More</a>
							</div>
              
							<div class="col-sm-4 blog-post">
								
								<a href="#"><h2></h2></a>
								<div class="date"></div>
								<p></p>
								<a href=""></a>
							</div>
						</div>
					</section>

				
			</div><!-- #blog -->

      <br><br>















  
 

