<section id="about">
    <div class="Why">
        <div class="row text-center" id="heading">
            <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
                <h3 style="font-size: 44px; color: #36ab9f;
                
                line-height: 50px;">Why Technically Black?</h3>
                <p> Creating a New Tomorrow</p>
                <hr style="border-top: 2px solid goldenrod;" class="full">
                <br/>
            </div>
        </div>	<!-- row -->
        <div class="row about-us-text">
            <div class="col-md-8 col-md-offset-2">
                <p class="text-center">I dedicate this Blog to the Black Tech ecosystem and underespresented groups in Technology.
                 I also dedicate this space to the future of Technology. May it be an inclusive space for all people.
                  As I was navigigating my career transition from teaching to technology, I searched for narratives similar to mine 
                  to connect with and to learn all the possibilites that lie ahead. As I searched, I found a plethora of great resources.
                 However, I did not find as many blogs and youtube videos from persons who look like me. 
                 I hope this can be another space full of resources for individuals like myself who aspire to transition. 
                A space for those who identify as Technically...Black.  </p>
            </div>
        </div>	<!-- row -->
    </section>
    <br><hr style="vertical-align: bottom; border: 2px dashed goldenrod;">

        

<div class="content-body">
    <div class="container">

        







            
        <div class="widget widget-recent-post">
        <br>
        <% @posts.each do |p| %>
            <article class="post post-#{p.id}">
                    
                <header class="entry-header">
                <br>
                    <div class='flex-center-content'>
                    <%= link_to post_path(p) do  %>
                        <%= image_tag p.image.expiring_url, class:'post-index-image' %>
                    <% end %>
                    </div>
                    <br>
                    <h1 class="entry-title">      
                            
                        <%= link_to p.title, post_path(p)%>
                    </h1>
                    <div class="entry-meta">
                        <span><%= p.created_at.strftime("%B %d, %Y") %> | </span>

                        <span>Scott Tillman </span>

                       
                    </div>
                </header>
                <div class="entry-content clearfix">
                    <p>
                        <%= p.content.truncate(300)%>
                    </p>
                    <div class="read-more cl-effect-14">
                        <%= link_to post_path(p), class: 'more-link' do %>
                        Continue reading <span class="meta-nav">→</span>
                        <% end %>
                    </div>
                    <br>
                    <hr style="vertical-align: bottom; border: 2px solid goldenrod;">
                     <br>

                    
                </div>
            
            </article>
        <% end %>
        
        <br>

        
        </div>

    

    
            <br>
    

        



                                
                
        
        
    
    </div>


    <br><hr style=" border: 2px solid black;"><br>
    <div class='flex-center-content'>
    
        <div class="st-pagination">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="blog-default.html">1</a></li>
                <li><a href="Blogpg2.html">2</a></li>
                <li><a href="Blogpg3.html">3</a></li>
                <li><a href="Blogpg4.html">4</a></li>
                <li><a href="Blogpg3.html">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        



    </div>
    </div>

    </div>
    </div>

    </div>
