<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                 <div class="row">
                    
                    <div class="centered">
                    <%= image_tag @post.image.expiring_url, class: "post-image" %> <br>


                            <div class="post-holder">
                                <!-- post holder -->
                                
                                </div>
                                <div class="post-content">
                                    <!-- post content -->
                                    <div class="post-header">
                    <h1><%= @post.title %></h1> <br>
                    <div class="meta">
   
                         <!-- post meta -->
                        <span class="meta-date"><%= @post.created_at.strftime("%B %d, %Y") %> |</span>
                        <span class="meta-comment"> Scott Tillman | </span>
                        <span class="meta-user"><%= @post.comments.count %> Comments</span>
                                           
                                          
                    </div>
                </div> 
                    <br><br>
                     <h4><%= simple_format @post.content %></h4>
    <!-- /.related post block -->
                    <br>
                                
                                        
            </div>
        </div>
                                    

                  

  <br>

                                    <!-- /. post navigation -->
                                    <div class="author-post">
                                        <!-- Post author -->
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <div class="author-img">
                                                    <a href="#"> <%= image_tag 'Site18.JPG', :class => "aboutimg" %></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <div class="author-bio">
                                                    <div class="author-header">
                                                        <h3><a href="about.html" class="title">Scott Tillman</a></h3>
                                                    </div>
                                                    <div class="author-content">
                                                        <p>Scott Tillman is a Web Developer living in Chicago, IL. 
              
            Scott has a diverse background in different areas of Web Developement from backend 
            programming (Django/Python, .Net, Ruby on Rails) to frontend engineering (HTML, CSS, and jQuery/Javascript). 
            He is passionate about learning and growing in his knowledge of different technologies and is also a 
            full time Graduate Student at DePaul University studying Software Engineering. </p>
                                                        <a href="/posts" class="btn btn-default">View All My Post</a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                            <!-- Text input-->
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

          <% if logged_in? %>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?"} %>
  <% end %>
</div>        

                   <br>
                                 
                                            
                                             


 







